.css-gradient {
    background: linear-gradient(45deg, rgba(10, 10, 10, 1),rgba(30, 30, 30, 1),);
    background-size: 300% 300%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:10% 100%}
    100%{background-position:90% 0%}
}

.logoTerraza{
    height: auto;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.botonIngreso{
    width: 100%;
}